.vjs-logo {line-height: 100%;position:absolute; right:5px;width:76px; height:26px;background:url(img/logo.png);background-size:cover;margin-top:5px;}
.vjs-logo img {width:90px; height:30px;}
.video-js {font-size:12px; overflow: hidden;}
.video-js .vjs-control {width: 3em;}
.video-js .vjs-time-control {position:absolute; display:block;padding-left:0;padding-right:0;}
.video-js .vjs-remaining-time {display:none;}
.video-js .vjs-duration {right:128px;width:50px;}
.video-js .vjs-time-divider {right:178px;width:24px;text-align:center;}
.video-js .vjs-current-time {right:202px;width:50px;}
.video-js .vjs-time-tooltip {min-width:40px;}
.video-js .vjs-fullscreen-control {position:absolute; right: 86px;}
.video-js .vjs-progress-control{width: 100%;height: 12px;position: absolute;top:-8px;left:0;}
.video-js .vjs-progress-control .vjs-progress-holder {margin: 0;}
.video-js .vjs-bigplay-container {width:100%;height:100%;display:flex;align-items:center;justify-content:center;}
.video-js .vjs-big-play-button {position:relative;border-radius: 0.75em; top:0; left:0;}
.video-js .vjs-ad {background-color: #000;width: 100%;height: 100%;position: absolute;top: 0;display: flex;align-items: center; z-index:2;}
.vjs-ad video {width:100%; height:100%;}
.vjs-ad-time {display:none;position: absolute;top: 0;right:0;padding: 10px 15px;font-size: 14px;}
.vjs-ad-time span {color: #FFFF99;font-size: 16px;font-weight:bold;};
.video-js .vjs-time-control {font-size: 14px;line-height: 36px;}
.vjs-watermark {position: absolute;top: 20px;right:30px;font-size: 18px;font-weight:bold; color:#FFF;text-shadow:0 0 2px #666;}
.vjs-contextmenu {width:100px;overflow: hidden;box-shadow: 1px 1px 2px #666;position: absolute;display:none;padding:5px;background-color:#F7F7F7;opacity:0.9;}
.vjs-contextmenu div {padding:2px;font-size: 12px; color: #666;line-height:20px;cursor:default;}
.vjs-contextmenu div.line {border-bottom: 1px solid #CCC;}